*{
    font-family: 'Courier New';
}
h1{
    color: brown;
}
#login{
    color: blue ;
    background-color: aqua;
}
#signup{
    color:blue;
    background-color: brown;

}
.a{

    background-color: blanchedalmond;
    color: rgb(224, 16, 16);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li a{
    color:red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-transform: uppercase;
}
p+h3{
    color: rgb(111, 196, 27);
}

span>button{
    color: yellow;
    background-color: cornflowerblue;

}
input[type="text"]{
    color: rgb(226, 43, 43);
    background-color:rgb(51, 221, 133);
}
input[type="password"]{
    color: crimson;
    background-color: rgb(140, 152, 152);
}
input[type]{
    background-color: azure;
}